html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 95vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column nowrap;
}

#main-container {
    width: fit-content;
    height: 500px;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 10px;
    background-color: rgb(54, 71, 87);
    margin-top: 50px;
}

#display {
    width: 300px;
    height: 70px;
    margin: 20px 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 35px;
    background-color: rgb(194, 207, 171);
    box-shadow: inset 2px 2px 3px black;

    border-radius: 10px;
}

#button-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.button-group {
    display: flex;
    width: fit-content;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    margin: 5px;
    user-select: none;
    box-shadow: 2px 2px black;
    color: white;
    border-radius: 10px;
}

.button:active {
    box-shadow: none;
    margin-left: 7px;
    margin-top: 7px;
    margin-right: 3px;
    margin-bottom: 3px;
}

.operator-button {
    background-color: rgb(64, 94, 119);
}

.number-button {
    background-color: rgb(50, 66, 88);
}

#button-zero {
    width: 134px;
}

#button-c {
    background-color: rgb(117, 65, 65);
}

#footer {
    height: 5vh;
    width: 95vw;
    display: flex;
    justify-content: center;
}

#footer-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#blue-theme-button,
#orange-theme-button {
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(64, 94, 119);
    user-select: none;
    border-radius: 10px;
}

.orange-theme #button-c {
    background-color: rgb(255, 172, 46);
}

.orange-theme .operator-button {
    color: rgb(43, 43, 43);
    background-color: rgb(182, 182, 182);
    box-shadow: 2px 2px rgb(202, 202, 202);
}

.orange-theme .operator-button:active {
    box-shadow: none;
}

.orange-theme .number-button {
    color: rgb(43, 43, 43);
    background-color: rgb(211, 211, 211);
    box-shadow: 2px 2px rgb(202, 202, 202);
}

.orange-theme .number-button:active {
    box-shadow: none;
}
