html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#main-container {
    width: fit-content;
    height: 500px;
    display: flex;
    flex-flow: column nowrap;
    border: solid rgb(58, 45, 24) 3px;
    background-color: rgb(48, 70, 88);
}

#display {
    width: 300px;
    height: 70px;
    margin: 20px 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 35px;
    border: solid rgb(65, 75, 47) 2px;
    background-color: rgb(194, 207, 171);
    box-shadow: inset 2px 2px 3px black;

    border-radius: 5px;
}

#button-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.button-group {
    display: flex;
    width: fit-content;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    margin: 5px;
    border: solid black 0.5px;
    user-select: none;
    box-shadow: 2px 2px black;
    color: white;

    border-radius: 5px;
}

.button:active {
    box-shadow: none;
    margin-left: 7px;
    margin-top: 7px;
    margin-right: 3px;
    margin-bottom: 3px;
}

.operator-button {
    background-color: rgb(64, 94, 119);
}

#button-zero {
    width: 134px;
}

#button-c {
    background-color: rgb(117, 65, 65);
}