html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#main-container {
    width: fit-content;
    height: 500px;
    display: flex;
    flex-flow: column nowrap;
    border: solid black 5px;
}

#display {
    width: 300px;
    height: 70px;
    margin: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid red 1px;
}

#button-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border: solid black 1px;
}

.button-group {
    display: flex;
    width: fit-content;
    border: solid blue 1px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    border: solid black 1px;
    user-select: none;
    
}